<br>
<br>
<br>
 <div class = "logoutT">
<button type="button" id="LogInbutton" class="btn btn-default btn-sm,nav navbar-nav navbar-right"{{action "Log_in"}}>
          <span class="glyphicon glyphicon-log-in"></span> Log in or Sign Up</button>
 </div>
<div class="text-center">
<div class="padding3">
  <div class="padding1">
  <h1 style="font-size:800%;font-family:'Segoe UI', sans-serif;color:white;">RapidQuest</h1>
  </div> 

  <br>
  <div class="padding2">
  <p style="font-size:250%;font-family:'Segoe UI',sans-serif;color:dodgerblue;text-align:center;">Take it now!!</p> 
</div>
</div> 
</div>