<br>
<br>
<br>

<div class="padding">       
<div class= "Instructions">
    <br>
    <br>
<h3>Instructions:</h3>

<p> 
<b>Before beggining the Test </b>
   
<ol type="1">
    <li class="agreementNoClr" > Make sure you are register yourself with portal.</li>
    <li class="agreementNoClr"> After Register,Login into portal. </li>
    <li class="agreementNoClr"> Close all other tabs before starting test. </li>
    <li class="agreementNoClr"> Maximize your screen window before starting test to get proper view. </li>
    <li class="agreementNoClr"> Do not change selection  of test once you have selected test,it will not give u desired test.</li>
    <li class="agreementNoClr"> Login in portal to start test. </li>
</ol>
</p>
<br>
<p><strong>Please read the above Instructions carefully before starting the test</strong></p>

</div>
<br>
<br>
        <br>
<div class="submitagreement">
    <button type="button" id="continue" class="btn btn-success" {{action "submit"}}>
        <span class="glyphicon glyphicon-submit"></span>continue</button>
        <br>
        <br>
</div>
</div>
