<br>


<div class = "logoutT">
<button type="button" class="btn btn-default btn-sm,nav navbar-nav navbar-right"{{action "log_out1"}}>
          <span class="glyphicon glyphicon-log-out"></span> Log out</button>
 </div>
<div class="col-sm-12">


<br><br>{{models-table data=model columns=columns}}<br>

{{model}}
</div>